{% extends "base.html" %}

{% block title %}Chatmeleon | About{% endblock %}

{% block content %}

<div class="row" style="padding-top:10px;" >
    <div class="col"><hr></div>
    <div class="col-auto"><p class="h3 myfont" align="center">What is Chatmeleon?</p></div>
    <div class="col"><hr></div>
</div>
<div class="container">
    <div class="overflow-auto" style="overflow-y: scroll; height:500px;">
        <div class="col-auto myfont"><p class="h5" style="line-height: 40px" align="left">
            This website is a prototype of Chatmeleon, which is a proposed mobile chatting application
            that changes colors based on the current mood of the ongoing conversation using an Emotion Classification Model named EmoRoBERTa that utilizes the GoEmotions Dataset.
            It also has a 'Suppressor' feature that blocks profanity or any message that is detected to be inappropriate.
        </p></div>
        <br>
        <div class="col-auto myfont"><p class="h5" style="line-height: 40px" align="left">
           This is in order to enhance the user experience of online messaging by using adaptive colors that
           accentuate positive emotions, and at the same time, diminish feelings of negativity.
           The 'Suppressor' feature also prevents harmful messages from ever entering the chat
           which facilitates a civil and friendly conversation.
        </p></div>
        <br>
    </div>
</div>
{% endblock %}